*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.A{
    display:flex;
    justify-content: center;
    justify-content: space-around;
    align-items: start;
    width: 50%;
    height:50%;
    background-color: aqua;
}
.B{
    width: 30%;
    height:30%;
    background-color: rgb(111, 0, 255);
}
.C{
    width: 30%;
    height:30%;
    background-color: rgb(47, 255, 0);
}