*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width:100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
   
}
.a{
    width:300px;
    height:400px;
    background-color: white;
    border-radius: 10px;
}
.c{
    height: 50%;
    width:80%;
    /* object-fit: center;
    object-position: center; */
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;

    background-color: yellow;
}
.a h5{
    text-align: center;
    margin:20px;
    font-size: 25px;
    color: brown;
}
.e{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.a .d{
    background-color: aquamarine;
    color:blue;
    padding: 10px;
border-radius: 5px;
margin-left:15px;
}
.a .b{
    background-color: grey;
    color: black;
    padding:10px;
    border-radius: 5px;
}
h1{
    color: #000;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}